{% extends 'basic.html' %}
{% load static %}
{% block title %} Library Management System {% endblock %}
{% block css %}
{% endblock %}
{% block body %}

    <div class="container">

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <h3 class="text-center"><u>Student Registration</u></h3>

            <div class="col-sm g-2 pt-3 form-control align-items-center">

                <div class="row g-2">

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="username" class="form-control" id="username" placeholder="User Name"  name='username' required>
                    <label for="username">Username</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="name" class="form-control" id="first_name" placeholder="First Name" name='first_name' required>
                    <label for="first_name">First Name</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="name" class="form-control" id="last_name" placeholder="Last Name" name='last_name' required>
                    <label for="last_name">Last Name</label>
                    </div>
                </div>

                </div>
                
                <div class="row g-2">

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address" name='email' required>
                    <label for="email">Email address</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="number" class="form-control" id="phone" placeholder="Phone Number" name='phone' required>
                    <label for="phone">Phone Number</label>
                    </div>
                </div>
                
                </div>

                <div class="row g-2">

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="branch" class="form-control" id="branch" placeholder="Branch" name='branch' required>
                    <label for="branch">Branch</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="classroom" class="form-control" id="classroom" placeholder="Class Name" name='classroom' required>
                    <label for="classroom">Class Name</label>
                    </div>
                </div>

                </div>

                <div class="row g-2">

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="number" class="form-control" id="roll_no" placeholder="Roll_No" name='roll_no' required>
                    <label for="roll_no">Roll_No</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="file" class="form-control" id="image" placeholder="Image" name='image' required>
                    <label for="image">Image</label>
                    </div>
                </div>

                </div>

                <div class="row g-2">

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="password" class="form-control" id="password" placeholder="Password" name='password' required>
                    <label for="password">Password</label>
                    </div>
                </div>

                <div class="col-sm g-3">
                    <div class="form-floating mb-1">
                    <input type="password" class="form-control" id="confirm_password" placeholder="Confirm - Password" name='confirm_password' required>
                    <label for="confirm_password">Confirm - Password</label>
                    </div>
                </div>

                </div>

                <div class="row g-4">
                <div class="text-center">
                    <div class="form-floating mt-3 mb-1">
                    <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
                </div>

                <div class="row">
                <div class="col mt-2 mb-2"><b>Already have an account..?</b>
                    <a class="btn btn-success mx-3" id="login" aria-current="page" href="/student_login">LOGIN</a>
                </div>
                </div>

            </div>

        </form>

    </div>

{% endblock %}
{% block js %}
<script>
    {% if alert %}
    alert("Registration Successfull.")
    document.location = "/student_login"
    {% endif %}
</script>
{% endblock %}

